{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <div class="container justify-content-center align-items-center">
        <div class="pb-4">
            <p class="text-center h2">Here is your password.</p>
        </div>
        <div>
            <div class="input-group">
                <input type="text" class="form-control form-control-lg text-center" value="{{ password }}" name="secretLink" id="secretLink" disabled readonly>
                <button type="button" class="btn btn-primary" onclick="copy()" id="copyButton">Copy</button>
            </div>
        </div>
        <div class="pt-4">
            <p class="text-center">This secret link and content will be deleted after <b>{{ expire_days }} days</b> or <b>{{ expire_views }} views</b> (whichever occurs first).</p>
        </div>
        {% if viewer_deletable %}
        <form method="post" action="/delete/{{ password_id }}">
            <div class="row justify-content-center pt-4">
                <div class="col col-lg-6 mx-auto">
                    <button type="submit" class="btn btn-danger w-100">Delete this Secret Link Now</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="../static/functions.js"></script>
{% endblock %}